:root {
    --DeepSkyBlue: #00bfff;
    --active: #a2a4a0;
    --black: #000000;
    --background: #5f5f5f;
    --menu-background: #2f2f2f;
    --white: #fff;
    --close: #FF0000;
}

.light-mode {
    --background: #f5f5f5;
    --menu-background: #e0e0e0;
    --white: #000;
    --black: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Arial, Helvetica;
    font-weight: 600;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--background);
}

/* Style for the toggle switch */
.mode-toggle {
    display: flex;
    align-items: center;
    justify-content: center; /* Center horizontally */
    width: 60px; /* Set the width for the switch */
    height: 30px; /* Set the height for the switch */
    background-color: var(--menu-background);
    border-radius: 30px; /* Make it round to resemble a switch */
    cursor: pointer;
    transition: background-color 0.3s;
    position: fixed; /* Keep it fixed */
    top: 20px; /* Adjust the top position as needed */
    right: 50%; /* Center horizontally */
    transform: translateX(50%); /* Center horizontally */
    z-index: 999; /* Ensure it's on top */
}

/* Style for the slider */
.toggle-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%; /* Initial position for the switch */
    height: 100%;
    background-color: var(--active);
    border-radius: 50%; /* Make it round to resemble the slider */
    transition: transform 0.3s, background-color 0.3s;
}


/* Style for icons */
.light-icon,
.dark-icon {
    font-size: 18px;
    padding: 5px;
    color: var(--white);
}

.display {
    background: var(--black);
    height: 100%;
}

.navigation {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0px;
    width: 70px;
    border-radius: 0 25px 25px 0;
    box-sizing: initial;
    background: var(--menu-background);
    transition: width .5s;
    overflow-x: hidden;
    z-index: 999;
}

.navigation.active {
    width: 200px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 120px;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.navigation ul li.active {
    background: var(--background);
}

.navigation ul li b:nth-child(1) {
    position: absolute;
    top: -20px;
    height: 20px;
    width: 100%;
    background: var(--background);
    display: none;
}

.navigation ul li b:nth-child(1)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 20px;
    background: var(--menu-background);
}

.navigation ul li b:nth-child(2) {
    position: absolute;
    bottom: -20px;
    height: 20px;
    width: 100%;
    background: var(--background);
    display: none;
}

.navigation ul li b:nth-child(2)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top-right-radius: 20px;
    background: var(--menu-background);
}

.navigation ul li.active b:nth-child(1),
.navigation ul li.active b:nth-child(2) {
    display: block;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}

.navigation ul li.active a {
    color: var(--active);
}

.icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.icon ion-icon {
    font-size: 1.5em;
}

.title {
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: normal;
}

.toggle {
    position: fixed;
    top: 40px;
    right: 0px;
    width: 50px;
    height: 50px;
    background: var(--menu-background);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle.active {
    background: var(--close);
}

.toggle ion-icon {
    position: absolute;
    color: var(--white);
    font-size: 34px;
    display: none;
}

.toggle ion-icon.open,
.toggle.active ion-icon.close {
    display: block;
}

.toggle ion-icon.close,
.toggle.active ion-icon.open {
    display: none;
}

.content {
    display: none;
}

.content.active {
    display: block;
}