:root {
    --DeepSkyBlue: #00bfff;
    --active: #a2a4a0;
    --black: #36454F;
    --background: #5f5f5f;
    --menu-background: #2f2f2f;
    --white: #fff;
    --close: #FF0000;
}
.input-group {
    position: relative;
}

.input-group_input {
    font: inherit;
    color: var(--black);
    border: none;
    background-color: transparent;
    transition: outline-color 500ms, cursor 500ms; /* Added cursor transition */
    cursor: text; /* Set default cursor style */
}

.input-group_input:focus,
.input-group_input:valid {
    outline-color: var(--active);;
}

.input-group_input:hover {
    cursor: text; /* Change cursor style on hover */
}

.input-group_label {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(10px, 10px);
    color: var(--black);
    transition: transform 500ms, background-color 500ms, cursor 500ms;
    cursor: pointer;
}

.input-group_label:hover {
    cursor: text;
}

.input-group_input:focus + .input-group_label,
.input-group_input:valid + .input-group_label {
    padding-left: 5px;
    transform: translate(10px, -8px) scale(0.8);
    color: var(--active);
    background: linear-gradient(to bottom, var(--white) 1%, transparent 99%);
    z-index: 5;
}

.input-group .form-control {
    border-radius: 0;
}