#form-content .input-group {
    position: relative;
}

#form-content .input-group_input {
    font: inherit;
    color: var(--purple);
    background-color: transparent;
    transition: outline-color 500ms, cursor 500ms;
    cursor: text;
}

#form-content .input-group_input:focus,
#form-content .input-group_input:valid {
    outline-color: var(--purple);;
}

#form-content .input-group_input:hover {
    cursor: text;
}

#form-content .input-group_label {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(10px, 10px);
    color: var(--purple);
    transition: transform 500ms, background-color 500ms, cursor 500ms;
    cursor: pointer;
    background-color: var(--color2);
    padding-right: 100px;
}

#form-content .input-group_label:hover {
    cursor: text;
}

#form-content .input-group_input:focus + .input-group_label,
#form-content .input-group_input:valid + .input-group_label {
    transform: translate(0px, -22px) scale(1);
    color: var(--purple);
    background-color: transparent;
    padding-right: 0px;
    z-index: 5;
}

#form-content .input-group .form-control {
    border-radius: 0;
}