#parallax-content header {
    position: absolute;
    width: 100%;
    z-index: 1;
}


#parallax-content .brand {
    font-size: 2rem;
    color: var(--color3);
    pointer-events: none;
    z-index: 999;
}

#parallax-content .brand span {
    color: var(--color0);
}

#parallax-content .menu {
    min-width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    text-decoration: none;
    color: var(--color3);
    font-size: 1rem;
    border: 3px solid var(--color3);
    padding: 6px 6px;
    border-radius: 18px;
}

.menu a:hover, .menu a.active {
    background: var(--color2);

}

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140vh;
    overflow: hidden;
}

#introOne {
    position: absolute;
    font-size: 5rem;
    color: var(--color3);
    z-index: 2;
    top: 200px;
    left: 800px;
    white-space: nowrap;
    overflow: hidden;
}


#introTwo {
    position: absolute;
    font-size: 5rem;
    color: var(--color3);
    z-index: 3;
    top: 280px;
    left: 700px;
    white-space: nowrap;
    overflow: hidden;
}

.parallax img {
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    pointer-events: none;
}

#coralReef {
    z-index: 3;
}

#coral {
    z-index: 5;
    left: 209px;
}

#divers {
    z-index: 4;
    top: 1em;
    right: 209px;
}

.scuba h2 {
    padding: 80px 20px 0 60px;
    font-size: 3rem;
    color: var(--color0);
}

.scuba p {
    padding: 40px 60px;
    color: var(--color0);
}

