@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Arial, Helvetica;
}

:root {
    --DeepSkyBlue: #00bfff;
    --BackgroundButton: #2f2f2f;
    --white: #fff;
    --scubSec: #000;
}

body {
    height: 100vh;
    overflow-x: hidden;
}

header {
    position: absolute;
    width: 100%;
    z-index: 1;
}

.brand {
    font-size: 2rem;
    color: var(--white);
    pointer-events: none;
}

.brand span {
    color: var(--DeepSkyBlue);
}

.menu {
    min-width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    text-decoration: none;
    color: var(--white);
    font-size: 1rem;
    border: 3px solid var(--white);
    padding: 6px 6px;
    border-radius: 18px;
}

.menu a:hover, .menu a.active {
    background: var(--BackgroundButton);

}

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140vh;
    overflow: hidden;
}

#introOne {
    position: absolute;
    font-size: 5rem;
    color: var(--white);
    z-index: 2;
    top: 200px;
    left: 800px;
    white-space: nowrap;
    overflow: hidden;
}


#introTwo {
    position: absolute;
    font-size: 5rem;
    color: var(--white);
    z-index: 3;
    top: 280px;
    left: 700px;
    white-space: nowrap;
    overflow: hidden;
}

.parallax img {
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    pointer-events: none;
}

#coralReef {
    z-index: 3;
}

#coral {
    z-index: 5;
    left: 209px;
}

#divers {
    z-index: 4;
    top: 1em;
    right: 209px;
}


.scuba h2 {
    padding: 80px 20px 0 60px;
    font-size: 3rem;
    color: var(--DeepSkyBlue);
}

.scuba p {
    padding: 40px 60px;
    color: var(--white);
}

