body {
    margin: 0;
    background-color: rgba(8, 1, 16, 0.96);
}


#myCanvas {
    display: block;
}


#hero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#hero .headline {
    color: rgba(255, 255, 0, 0.9);
    text-transform: uppercase;
    font-size: 3em; /* Adjust the font size as needed */
}

#hero .subHeadline {
    color: rgba(255, 255, 0, 0.7);
    font-size: 1em; /* Adjust the font size as needed */
}

.scroll-down-arrow {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 0, 0.7);
    font-size: 3em; /* Adjust the font size as needed */
    cursor: pointer;
    animation: bounce 2s infinite; /* Optional: Add a bounce animation */
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}

#text {
    text-align: justify;
    line-height: 1.6;
    padding: 50px;
    color: #ffffff; /* White text color */
    font-family: 'Arial', sans-serif; /* Choose a suitable font */
}

#text p {
    margin-bottom: 20px;
}


#text::before {
    content: "\1F30C"; /* Unicode sun symbol as a decorative element */
    font-size: 2em;
    display: block;
    margin-bottom: 20px;
    color: #FFD700; /* Gold color */
}


