#cards-content .card-group {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 50px;
}

#cards-content .card-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-basis: calc(100% - 32px);
}

#cards-content .card {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 150px;
    background-color: var(--color3);
    padding: 32px;
    border-radius: 8px;
    transition: transform 250ms, box-shadow 250ms;
    margin: 10px;
}

#cards-content .card:hover {
    animation: hoverAnimation 1s forwards;
}

@keyframes hoverAnimation {
    0% {
        transform: translate(0, 0) rotate(0) scale(1);
    }
    50% {
        transform: translate(0, 0) rotate(3deg) scale(1.2);
    }
    100% {
        transform: translate(0, 0) rotate(0deg) scale(1.2);
        z-index: 999;
        box-shadow: 0 0 150px 75px rgba(0, 0, 0, 0.75);
    }
}

#cards-content .card-date {
    display: block;
    color: var(--color1);
    margin-bottom: 3px;
    font-size: 14px;
}

#cards-content .card-date strong {
    color: var(--color1);
}

#cards-content .card-title {
    font-size: 26px;
    color: var(--color3);
    text-decoration: none;
}

#cards-content .cat-shadow {
    margin: 0 0 0 0;
    height: 100px;
    filter: drop-shadow(10px 8px 6px black);
}